


body
{
	background:#2277aa;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 100%; 
	/*margin:8px 0 16px;*/
}

input:required
{
	background:#ffff99;
	float:none;
}
input:disabled
{
	background:inherit/*#888*/;
	float:none;
    border: 0;
    color: black;
    font-size: 100%; 
}

button
{
    background:url(redButton.png) no-repeat;
    background-size:cover;
    height:21px;
    border: 0;
}

