{% extends "base.html" %}

{% block title%}Add Jobs{% endblock %}

{% block content %}
    <form action="" method="post">
    Start date {{ form.sdate }}<br>
    End date {{ form.edate }}<br>
    Event name {{ form.event }}<br>
    Agency Name {{ form.agency }}<br>
    Title of Volunteer position {{ form.event_title }} (How is this different from Event name?)<br>
    Duties {{ form.duties }}<br>
    Volunteer must be able to lift {{ form.weight }} lbs.<br>
    Volunteer must be able to drive {{ form.drive }}<br>
    Number of volunteers needed {{ form.number }}<br>
    Dates/hours needed {{ form.whenneeded }}<br>
    Minimum age {{ form.age }}<br>
    Needed skills{{ form.skills }}<br>
    Other Notes {{ form.other }}
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
