{% extends "base.html" %}

{% block title%}Organization{% endblock %}
{% block pageTitle%}<h1>Organization Profile</h1>{% endblock %}

{% block content %}{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ field.name }} - {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
    {% if viewNew %}
        <h2> **Successfully Added {{ organization.name }}**</h2>
    {% endif %}
    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        {% if not viewOnly %}<button type="submit">Submit</button> {% endif %}
    </form>
    {% if jobs %}
    <h3>Requested Jobs</h3>
    <table class="has_borders">
        <tr><td/><td>Title</td><td>Duties</td><td>More Info</td></tr>
        {% for job in jobs.all %}
            <tr>
                <td>{{ forloop.counter }}</td><td>{{ job.title }}</td><td>{{ job.duties }}</td><td><button onClick="window.location='/Job/view/{{ job.id }}'" style="width:100%;">View</button></td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
