{% extends "base.html" %}

{% block title%}Volunteer{% endblock %}
{% block pageTitle%}<h1>Volunteer Profile</h1>{% endblock %}

{% block content %}
{% if viewOnly %}
<table class="no-print"><tr>
    {% if perms.VRC.change_volunteer %}
                        <td><button onClick="window.location='/Volunteer/modify/{{ volunteer.id }}'">Modify</button></td>
                    {% endif %}
                    {% if perms.VRC.delete_volunteer %}
                        <td><button onClick="window.location='/Volunteer/delete/{{ volunteer.id }}/?next={{ request.get_full_path }}'">Delete</button></td>
                    {% endif %}
                    {% if perms.VRC.Safety or perms.VRC.IDBadge or perms.VRC.IDCheck or perms.VRC.Data_Validation or perms.VRC.Maps or perms.VRC.Interview %}
                        <td><button onClick="window.location='/Stations/{{ volunteer.id }}'">Stations</button></td>
                    {% endif %}
                    <td><button onClick="window.location='/Volunteer/print/{{ volunteer.id }}'">Print</button></td>
</tr></table>
{% endif %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ field.name }} - {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
    {% if viewNew %}
        <h2> **Successfully Added {{ volunteer.name }}**</h2>
        <h3> **Your Volunteer ID number is ( {{ volunteer.id }} )**</h3>
        {% if not user.is_authenticated %}<meta http-equiv="refresh" content="7;url='/'">{% endif %}
    {% endif %}
    <form action="" method="post">
      <hr>
      <h3>Biographical Information</h3>
  {% if not form.name.value %}*ID and BACKGROUND CHECK WILL BE PERFORMED{% endif %}
      <table><tr><td align=right>
        <p style="line-height: 1.3;">
        {% if viewOnly or form.job.value or modify%}Job{% endif %}
        <br>Name<br>
        Birthday<br><br>
        Home Address<br>
        City<br>
        State<br>
        ZIP<br><br>
        Occupation<br>
        Employer
        </td><td align=left>
        {% if viewOnly %}{{ volunteer.job.title }} {% elif form.job.value or modify %} {{ form.job }} {% endif %}<br>
        {{ form.name }}<br>
        {{ form.birthday }}<br><br>
        {{ form.address }}<br>
        {{ form.city }}<br>
        {{ form.state_province }}<br>
        {{ form.zip_code }}<br><br>
        {{ form.occupation }}<br>
        {{ form.employer }}<br>
      </td><td width=40px>
      </td><td align=right>
        <p style="line-height: 1.3;"><br>
        Day phone<br>
        Cell Phone<br>
        Email Address<br>
        <br>
        Emergency Contact<br>
        Emergency Phone<br>
        Relationship</p>
        <br>
        </td><td align=left>
        {{ form.dayPhone }}<br>
        {{ form.cellPhone }}<br>
        {{ form.email }}<br>
        <br>
        {{ form.emergencyContact }}<br>
        {{ form.emergencyPhone }}<br>
        {{ form.relationship }}<br>
        <br>
      </td>
      <!--<td><img src="{{ MEDIA_URL }}{{ form.picture.value }}"<br>{{ form.picture }} </td>-->
      </tr></table>
      <hr>
      <h3>Availability</h3>
        Year-round resident? {{ form.resident }} Months Available: {{ form.monthsAvailable }} <br>
        Do you have any limitations? {{ form.limitations }} <br><br>
        I am willing to volunteer in:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This County:{{ form.county }} &nbsp;&nbsp;&nbsp;A Neighboring County:{{ form.neighbor }} &nbsp;&nbsp;&nbsp;Anywhere in this state:{{ form.instate }} &nbsp;&nbsp;&nbsp;Anywhere in the U.S.:{{ form.us }}<br><br>
        Are you currently affiliated with a disaster relief agency? {{ form.affiliatedAgency }}<br>
        Special skills and/or vocational/disaster training: {{ form.skillsTraining }}<br>
        <hr>
        <h3>Skills: Please check all that apply</h3>
        <h4>Certification is required</h4>
        <u>Medical</u><br>
        <table>
        <tr><td width=445>
           {{ form.doctor }}Doctor&nbsp; {{ form.dSpecialty }}<br>
           {{ form.nurse }}Nurse&nbsp; {{ form.nSpecialty }}<br>
           {{ form.emt }}Emergency Medical Certification
        </td><td>
           {{ form.mental }}Mental Health Counseling<br>
           {{ form.vet }}Veterinarian<br>
           {{ form.vetTech }}Veterinary Technician
        </td></tr>
        </table>
        <br>
        <u>Communication</u><br>
        <table>
        <tr><td width=220>
           {{ form.cbHam }}CB/ham operator<br>
           {{ form.publicRelations }}Public Relations
        </td><td width=220>
           {{ form.hotline }}Hotline operator<br>
           {{ form.webpage }}Web page design
        </td><td width=340>
           {{ form.satphone }}Satellite Phone&nbsp; {{ form.satnum }}
           {{ form.publicSpeaker }}Public Speaker
        </td></tr>
        </table>
        <br>
        <u>Languages</u><br>
        <table><tr> 
           <td width=108>{{ form.french }}French</td>
           <td width=108>{{ form.german }}German</td>
           <td width=108>{{ form.italian }}Italian</td>
           <td width=108>{{ form.spanish }}Spanish</td>
           <td width=91>{{ form.russian }}Russian</td>
           <td width=77>{{ form.creole }}Creole</td>
           <td>{{ form.otherLang }}Other&nbsp;{{ form.lang }}</td>
        </tr></table>
        <br>
        <u>Office Support</u><br>
        <table><tr>
           <td width=220>{{ form.clerical }}Clerical - filing</td>
           <td width=220>{{ form.receptionist }}Phone Receptionist</td>
           <td width=440>{{ form.dataEntry }}Data Entry&nbsp; {{ form.software }}</td>
        </tr></table>
        <br>
        <u>Services</u><br>
        <table>
        <tr><td width=220>
           {{ form.food }}Food<br>
           {{ form.social }}Social Work<br>
           {{ form.crimeWatch }}Crime Watch<br>
           {{ form.functional }}Functional Needs Support
        </td><td width=220>
           {{ form.elderly }}Assistance to elderly<br>
           {{ form.searchRescue }}Search and Rescue<br>
           {{ form.animalRescue }}Animal Rescue<br>
           {{ form.fneeds }}
        </td><td width=170>
           {{ form.childCare }}Child Care<br>
           {{ form.autoRepair }}Auto repair/towing<br>
           {{ form.animalCare }}Animal Care
        </td><td width=190>
           {{ form.spiritual }}Spiritual Counseling<br>
           {{ form.traffic }}Traffic control<br>
           {{ form.runner }}Runner
        </td></tr>
        </table>
        <br>
        <u>Structural</u>
        <table>
        <tr><td width=220>
           {{ form.damage }}Damage assesment<br>
           {{ form.metal }}Metal construction
        </td><td width=220>
           {{ form.wood }}Wood construction<br>
           {{ form.block }}Block construction
        </td><td width=170>
           {{ form.plumbing }}Plumbing<br>
           {{ form.electric }}Electrical
        </td><td valign=top>
           {{ form.roofing }}Roofing<br>
        </td></tr>
        </table>
        <br>
        <u>Transportation</u>
        <table>
        <tr><td width=220>
           {{ form.car }}Car<br>
           {{ form.minivan }}Minivan<br>
           {{ form.atv }}ATV<br>
           {{ form.offRoad }}Off-road vehicle/4WD<br>
           {{ form.wheelchair }}Wheelchair Transport
        </td><td>
           {{ form.truck }}Truck&nbsp; {{ form.tdescription }}<br>
           {{ form.van }}Van&nbsp; {{ form.vancap }}<br>
           {{ form.boat }}Boat&nbsp; {{ form.btype }}<br>
           {{ form.rv }}Camper/RV&nbsp; {{ form.rvtype }}<br>
           {{ form.cdl }}Commercial driver&nbsp; {{ form.cdlnum }}
        </td></tr>
        </table>
        <br>
        <u>Labor</u>
        <table>
        <tr><td width=220>
           {{ form.loading }}Loading/Shipping<br>
           {{ form.sorting }}Sorting/Packing
        </td><td width=220>
           {{ form.cleanup }}Clean-up<br>
           {{ form.supervising }}Supervising experience
        </td><td>
           {{ form.operate }}Operate equipment<br>
           &nbsp;&nbsp;&nbsp;&nbsp;{{ form.eqtype }}
        </td></tr>
        </table>
        <br>
        <u>Equipment</u><br>
        <table><tr>
           <td width=108>{{ form.chainsaw }}Chainsaw</td>
           <td width=108>{{ form.backhoe }}Backhoe</td>
           <td width=120>{{ form.generator }}Generator</td>
           <td>Other{{ form.othereq }}</td>
        </tr></table>
        <br>
        Other Notes: {{ form.notes }}
        <br>
{% if not form.name.value %}        <hr>
<!--        <h3>Volunteer Release of Liability</h3>
<p>I, for myself and my heirs, executors, administrators and assigns, hereby release, indemnify, and hold harmless the Volusia COAD, directors, volunteers and workers in the Volunteer Reception Center, local governments, State of Florida, the organizers, sponsors and supervisors of all disaster preparedness, response and recovery from all liability for any and all risk of damage or bodily injury or death that may occur to me (including any injury caused by negligence), in connection with any volunteer disaster effort in which I participate. I likewise hold harmless from liability any person transporting me to or from any disaster relief activity. In addition, disaster relief officials have permission to utilize any photographs or videos taken of me for publicity or training purposes.</p>
<p>I will abide by all safety instructions and information provided to me during disaster relief efforts. Further, I expressly agree that this release, waiver, and indemnity agreement is intended to be as broad and inclusive as permitted by the State of Florida, and that if any portion thereof is held invalid, it is agreed that the balance shall, notwithstanding, continue in full legal force and effect.</p>
<p>I have no known physical or mental condition that would impair my capability to participate fully, as intended or expected of me. I have carefully read the foregoing release and indemnification and understand the contents thereof and sign this release as my own free act.</p> -->
<p>This form is not a complete registration. To complete your registration, you must go to the Volunteer Resource Center and verify your registration and follow the instructions given there. You will be required to show ID, sign a waiver of liability and complete a short safety briefing as part of that registration. Depending on your specific assignment, you may also undergo a background check. If your registration is not verified within 72 hours (3 days), it will be removed from the system and you will need to fill out this form again. After pushing the "Submit" button, your data will be saved and you will be given an ID number. We suggest you write this number down for convenience in verification of your registration.</p>
<p>{{ form.waiver }} I have read and agree to the above conditions<!--By selecting, you agree to the Volunteer Release of Liability--></p>{% endif %}
        {% csrf_token %}
        {% if not viewOnly %}<button type="submit">Submit</button> {% endif %}
    </form>
{% endblock %}
