<html>
<head><title>{% block title %}VRC{% endblock %}</title></head>

<body>
<button onClick="window.location='/'">Home</button>&nbsp;
<button onClick="window.location='/addVolunteer'">Add Volunteer</button>&nbsp;
<button onClick="window.location='/addOrganization'">Add Organization</button>&nbsp;
<button onClick="window.location='/addJob'">Add Job</button>&nbsp;
<button onClick="window.location='/search'">Search</button>&nbsp;
<button onClick="window.location='/login'">Login</button>&nbsp;
<button onClick="window.location='/logout'">Logout</button>&nbsp;
<a href="/modifyVolunteer"></a>
<a href="/modifyOrganization"></a>
<a href="/modifyJob"></a>
<a href="/Safety"></a>
<a href="/Maps"></a>
<a href="/Assignment"></a>
<h1>VRC Administration</h1>
    {% block content %}<p> Welcome to the VRC Administraion System. Please choose a link.
    {% endblock %}
    {% block footer %}
    <hr>
    <p>Thanks for Volunteering!.</p>
    {% endblock %}
</body>
</html>
