<html>
<head>
    <title>{% block title %}VRC{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "style.css" %}" />
</head>

<body {% if autoPrint %}onload="window.print()"{% endif %}>
{% block NavBar %}
<div class="no-print">
<button onClick="window.location='/'">Home</button>
<button onClick="window.location='/addVolunteer'">Add Volunteer</button>
{% if perms.VRC.Phone_Bank %}<button onClick="window.location='/addOrganization'">Add Organization</button>&nbsp;{% endif %}
{% if perms.VRC.Phone_Bank %} <button onClick="window.location='/addJob'">Add Job</button>&nbsp; {% endif %}
{% if perms.VRC.View_data %} <button onClick="window.location='/search'">Search</button>&nbsp; {% endif %}
{% if user.is_staff %} <button onClick="window.location='/admin'">Admin</button>&nbsp; {% endif %}
{% if user.is_authenticated %} <button onClick="window.location='/accounts/logout'">Logout</button>&nbsp; 
{% else %} <button onClick="window.location='/accounts/login'">Login</button>&nbsp; {% endif %}
<button onClick="window.location='/help'">Help</button>&nbsp;
<div style="float:right;">{{ user.username }}</div>
</div>
{% endblock %}
{% block pageTitle %}<h1>VRC Administration</h1>{% endblock %}
    {% if loggedOut %}
        <h2>*Successfully Logged out</h2>
    {% endif %}
    {% block content %}<p> Welcome to the VRC Administraion System. Please choose a link.</p>
        {% if not user.is_authenticated %}<button onClick="window.location='/addVolunteer'", style="font-size:25;height:50px">Register Now</button>{% endif %}
    {% endblock %}
    {% block footer %}
    <hr>
    <p>Thanks for Volunteering!.</p>
    {% endblock %}
</body>
</html>
