{% extends "base.html" %}

{% block title%}Add Jobs{% endblock %}

{% block content %}

    <table><tr>
      <td width=250 align=right>
        Event name<br>
        Agency Name<br>
        Agency Contact<br>
        Agency Phone<br>
        Agency Address<br>
        Title of Volunteer position<br>
        Start Date<br>
        End Date<br>
      </td><td align=left>
        {{ job.event }}<br>
        {{ job.agency.name }}<br>
        {{ agency.contact}}<br>
        {{ agency.phone }} {% if agency.ext %}{{ agency.ext }}{% endif %}<br>
        {{ agency.address }}<br>
        {{ job.title }}<br>
        {{ job.sdate }}<br>
        {{ job.edate }}
      </td></tr></table>
    <hr>
    <table><tr>
      <td width=250 align=right>
        Duties<br>
        Minimum age<br>
        Number of volunteers needed<br>
        Volunteer must be able to:<br>
      </td><td align=left>
        {{ job.duties }}<br>
        {{ job.age }}<br>
        {{ job.number }}<br>
        {% if job.drive %}Drive, {% endif %}
        {% if job.weight %}Lift{{ job.weight }}lbs.{% endif %} <br>
      </td></tr></table>
    <hr>
    <table><tr>
      <td align=right width=250 style="line-height: 1.3;">
        Dates/hours needed<br>
        Needed skills<br>
        Other Notes<br>
      </td><td align=left>
        {{ job.whenneeded }}<br>
        {{ job.skills }}<br>
        {{ job.other }}<br>
      </td></tr></table>

    {% if vols %}
    <h3>Assigned Volunteers</h3>
    <table class="has_borders">
        <tr><td/><td>Name</td><td>Phone Number</td><td class="no-print">More Info</td></tr>
        {% for vol in vols.all %}
            <tr>
                <td>{{ forloop.counter }}</td><td>{{ vol.name }}</td><td>{%if vol.cellPhone %}{{ vol.cellPhone }}{% else %}{{ vol.dayPhone }}{% endif %}</td><td class="no-print"><button onClick="window.location='/Volunteer/view/{{ vol.id }}'" style="width:100%;">View</button></td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
