{% extends "base.html" %}

{% block title%}Station{% endblock %}
{% block pageTitle%}<h1>{{ volunteer.name }}</h1>{% endblock %}

{% block content %}
<table class="no-print"><tr>
                        <td><button onClick="window.location='/Volunteer/view/{{ volunteer.id }}'">View Full</button></td>
    {% if perms.vrcAPP.change_volunteer %}
                        <td><button onClick="window.location='/Volunteer/modify/{{ volunteer.id }}'">Modify</button></td>
                    {% endif %}
                    {% if perms.vrcAPP.delete_volunteer %}
                        <td><button onClick="window.location='/Volunteer/delete/{{ volunteer.id }}/?next={{ request.get_full_path }}'">Delete</button></td>
                    {% endif %}
                    {% if perms.vrcAPP.Data_Validation %}<td><button onClick="window.location='/Volunteer/print/{{ volunteer.id }}'">Print</button></td>{% endif %}
</tr></table>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ field.name }} - {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{% if perms.vrcAPP.IDCheck or perms.vrcAPP.Data_Validation and form.idCheck.value or	perms.vrcAPP.Interview and form.idCheck.value and form.dataValidation.value or	perms.vrcAPP.Safety and form.idCheck.value and form.dataValidation.value and form.interview.value or 	perms.vrcAPP.IDBadge and form.idCheck.value and form.dataValidation.value and form.interview.value and form.safety.value or	perms.vrcAPP.Maps and form.idCheck.value and form.dataValidation.value and form.interview.value and form.safety.value %}

    <form action="" method="post">
        <table>
            <tr>
                <td align=right {% if  perms.vrcAPP.Data_Validation %} style="line-height: 1.34;" {% endif %}>
                    Name<br>
                    Birthday<br><br>
                    Home Address<br>
                    City<br>
                    State<br>
                    ZIP<br>
                    Occupation<br>
                </td>
                <td align=left>
                    {% if not perms.vrcAPP.Data_Validation %}
                        {{ form.name.value }}<br>
                        {{ form.birthday.value }}<br><br>
                        {{ form.address.value }}<br>
                        {{ form.city.value }}<br>
                        {{ form.state_province.value }}<br>
                        {{ form.zip_code.value }}<br>
                        {{ form.occupation.value }}<br>
                    {% else %}
                        {{ form.name }}<br>
                        {{ form.birthday }}<br><br>
                        {{ form.address }}<br>
                        {{ form.city }}<br>
                        {{ form.state_province }}<br>
                        {{ form.zip_code }}<br>
                        {{ form.occupation }}<br>
                    {% endif %}
                </td>
            </tr>
      </table>
        <br>
        <table>
        {% if perms.vrcAPP.IDCheck %} <tr><td> {{ form.idCheck }} </td><td> {{ form.idCheck.label_tag }} </td></tr>{% endif %}
        {% if perms.vrcAPP.Data_Validation %} <tr><td> {{ form.dataValidation }} </td><td> {{ form.dataValidation.label_tag }} </td></tr>{% endif %}
        {% if perms.vrcAPP.Interview %} <tr><td> {{ form.interview }} </td><td> {{ form.interview.label_tag }} </td></tr>{% endif %}
        {% if perms.vrcAPP.Safety %} <tr><td> {{ form.safety }} </td><td> {{ form.safety.label_tag }} </td></tr>{% endif %}
        {% if perms.vrcAPP.IDBadge %} <tr><td> {{ form.idbadge }} </td><td> {{ form.idbadge.label_tag }} </td></tr>{% endif %}
        {% if perms.vrcAPP.Maps %} <tr><td> {{ form.maps }} </td><td> {{ form.maps.label_tag }} </td></tr>{% endif %}
        {% csrf_token %}
        </table>
        {% if perms.vrcAPP.Interview %}
        <h3>Available Jobs</h3>
            <div class="radio">
            <table class="assign">
            <tr class="assign">
                <th class="assign"/>
                <th class="assign">Job Title</td>
                <th class="assign">Duties</td>
                <th class="assign">Must be able to lift</td>
                <th class="assign">Need to Drive</td>
                <th class="assign">Min Age</td>
                <th class="assign">Required Skills</td>
                <th class="assign">Other</td>
            </tr class="assign">
                {% for choice in form.job.field.queryset %}
                <tr class="assign" onclick="document.getElementById('job_{{ choice.id }}').checked = true;">
                <td class="assign"> <input type="radio" name="job" id="job_{{ choice.id }}" value="{{ choice }}"{% if form.job.value == choice.title %} checked{% endif %}/> </td>
                <td class="assign" onclick="document.getElementById('job_{{ choice.id }}').checked = true;">
                <label for="{{ form.job.id }}_{{ forloop.counter }}" class="control-label">
                     {{ choice.title }}
                </label>
                </td>
                <td class="assign"><label>{{ choice.duties }}</label></td>
                <td class="assign"><label>{% if choice.weight %}{{ choice.weight }}{% else %}0{% endif %} lbs</label></td>
                <td class="assign"><label>{% if choice.drive %} Yes {% else %} No {% endif %}</label></td>
                <td class="assign"><label>{{ choice.age }}</label></td>
                <td class="assign"><label>{{ choice.skills }}</label></td>
                <td class="assign"><label>{{ choice.other }}</label></td>
                </tr>
                {% endfor %}
            </table>
            </div>
        {% endif %}<br>
        Other Notes: {{ form.notes }}<br>
        <br>
        <button type="submit">Submit</button>
        {% if perms.vrcAPP.Interview or perms.vrcAPP.Data_Validation %}
            <h3>Availability</h3>
        Year-round resident? {{ form.resident }} Months Available: {{ form.monthsAvailable }} <br>
        Do you have any limitations? {{ form.limitations }} <br><br>
        Up to how many miles are you willing to travel to volunteer?<br>
        <input {% if not perms.vrcAPP.Data_Validation %}disabled="True" readOnly="True" {% endif %} id="id_distance" max="1000" min="0" name="distance" step="50" type="range" value="{% if form.distance.value %}{{ form.distance.value }}{% else %}0{% endif %}" onchange="distancevalue.value=((value < 50) ? 'Less than 50' : value);"><output id="distancevalue">{% if form.distance.value %}{{ form.distance.value }}{% else %}Less than 50{% endif %}</output><br><br>
        <!--I am willing to volunteer in:<br>
        This County:{{ form.county }} &nbsp;&nbsp;&nbsp;A Neighboring County:{{ form.neighbor }} &nbsp;&nbsp;&nbsp;Anywhere in this state:{{ form.instate }} &nbsp;&nbsp;&nbsp;Anywhere in the U.S.:{{ form.us }}<br>-->
        Are you currently affiliated with a disaster relief agency? {{ form.affiliatedAgency }}<br>
        Special skills and/or vocational/disaster training: {{ form.skillsTraining }}<br>
        <hr>
        <h3>Skills: Please check all that apply</h3>
        <u>Medical</u><br>
        <table>
        <tr><td>{{ form.doctor }}Doctor - Specialty {{ form.dSpecialty }}<br>{{ form.nurse }}Nurse - Specialty {{ form.dSpecialty }}<br>{{ form.emt }}Emergency Medical Certification</td><td>{{ form.mental }}Mental Health Counseling<br>{{ form.vet }}Veterinarian<br>{{ form.vetTech }}Veterinary Technician</td></tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        </table>
        <br>
        <u>Communication</u><br>
        <table>
        <tr><td>{{ form.cbHam }}CB/ham operator</td><td>{{ form.hotline }}Hotline operator</td><td>{{ form.satphone }}Satellite Phone - #{{ form.satnum }}</td></tr>
        <tr><td>{{ form.publicRelations }}Public Relations</td><td>{{ form.webpage }}Web page design</td><td>{{ form.publicSpeaker }}Public Speaker</td></tr>
        </table>
        <br>
        <u>Languages</u><br>
        {{ form.french }}French&nbsp;&nbsp;{{ form.german }}German&nbsp;&nbsp;{{ form.italian }}Italian&nbsp;&nbsp;{{ form.spanish }}Spanish&nbsp;&nbsp;{{ form.russian }}Russian&nbsp;&nbsp;{{ form.creole }}Creole&nbsp;&nbsp;{{ form.otherLang }}Other:{{ form.lang }}<br>
        <br>
        <u>Office Support</u><br>
        {{ form.clerical }}Clerical - filing&nbsp;&nbsp;{{ form.dataEntry }}Data Entry - Software:{{ form.software }}&nbsp;&nbsp;{{ form.receptionist }}Phone Receptionist<br>
        <br>
        <u>Services</u><br>
        <table>
        <tr><td>{{ form.food }}Food</td><td>{{ form.elderly }}Assistance to elderly</td><td>{{ form.childCare }}Child Care</td><td>{{ form.spiritual }}Spiritual Counseling</td></tr>
        <tr><td>{{ form.social }}Social Work</td><td>{{ form.searchRescue }}Search and Rescue</td><td>{{ form.autoRepair }}Auto repair/towing</td><td>{{ form.traffic }}Traffic control</td></tr>
        <tr><td>{{ form.crimeWatch }}Crime Watch</td><td>{{ form.animalRescue }}Animal Rescue</td><td>{{ form.animalCare }}Animal Care</td><td>{{ form.runner }}Runner</td></tr>
        <tr><td>{{ form.functional }}Functional Needs Support</td><td>{{ form.fneeds }}</td><td></td><td></td></tr>
        </table>
        <br>
        <u>Structural</u>
        <table>
        <tr><td>{{ form.damage }}Damage assesment&nbsp;&nbsp;&nbsp;<br>{{ form.metal }}Metal construction</td>
        <td>{{ form.wood }}Wood construction&nbsp;&nbsp;&nbsp;<br>{{ form.block }}Block construction</td>
        <td>{{ form.plumbing }}Plumbing&nbsp;&nbsp;&nbsp;<br>{{ form.electric }}Electrical</td>
        <td>{{ form.roofing }}Roofing<br>&nbsp;</td></tr>
        </table>
        <br>
        <u>Transportation</u>
        <table>
        <tr><td>{{ form.car }}Car<br>{{ form.minivan }}Minivan<br>{{ form.atv }}ATV<br>{{ form.offRoad }}Off-road vehicle/4WD<br>{{ form.wheelchair }}Wheelchair Transport</td>
        <td>{{ form.truck }}Truck - Description {{ form.tdescription }}<br>{{ form.van }}Van - Capacity{{ form.vancap }}<br>{{ form.boat }}Boat - Capacity{{ form.btype }}<br>{{ form.rv }}Camper/RV - Capacity{{ form.rvtype }}<br>{{ form.cdl }}Commercial driver - Class and license #{{ form.cdlnum }}</td></tr>
        </table>
        <br>
        <u>Labor</u>
        <table>
         <tr><td>{{ form.loading }}Loading/Shipping<br>{{ form.sorting }}Sorting/Packing</td>
         <td>{{ form.cleanup }}Clean-up<br>{{ form.supervising }}Supervising experience</td>
         <td>{{ form.operate }}Operate equipment<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Types{{ form.eqtype }}</td></tr>
        </table>
        <br>
        <u>Equipment</u><br>
        {{ form.chainsaw }}Chainsaw&nbsp;&nbsp;&nbsp;{{ form.backhoe }}Backhoe&nbsp;&nbsp;&nbsp;{{ form.generator }}Generator&nbsp;&nbsp;&nbsp;Other{{ form.othereq }}<br>
        
        {% endif %}
    </form>
{% else %} <p> Not all previous required stations have been completed. </p> {% endif %}
{% endblock %}
